.showcase {
  height: 600px;
  padding: 100px 20px;
  text-align: center;
  border-bottom: #ccc 1px solid;
  margin-bottom: 30px;
  color: #fff;
  background: url('../img/splash.jpg') no-repeat center;
}
.showcase h1 {
  font-size: 55px;
  padding-bottom: 20px;
  color: #fff;
}
.showcase p {
  font-size: 20px;
  margin-bottom: 50px;
}
.boxes {
  text-align: center;
  background: #fff;
  margin-bottom: 30px;
}
.boxes .box {
  padding: 15px;
  border: #ccc 1px solid;
}
.boxes .box i.fa {
  font-size: 45px;
  margin-bottom: 10px;
}
/*# sourceMappingURL=custom.css.map */