.showcase {


	  height: 600px;
 	  padding: 100px 20px;
	  text-align: center;
	  border-bottom: #ccc 1px solid;
	  margin-bottom: 30px;
	  color: #fff;
	  background: url('../img/splash.jpg') no-repeat center;
	h1{
		  font-size: 55px;
		  padding-bottom: 20px;
		  color: #fff;

	}

	p{
		font-size: 20px;
        margin-bottom: 50px;

	}
}

.boxes{
	text-align: center;
  background: #fff;
  margin-bottom: 30px;

  .box{
  	padding:15px;
  	border:#ccc 1px solid; 

  		i.fa{
  			font-size: 45px; 
  			margin-bottom: 10px;
  		}
  }


}